<ion-slides pager="true" #slides>
	<ion-slide class="step-one">
		<ion-img src="/assets/slides/step1.svg"></ion-img>
		<h1>First Slide</h1>
		<p>Text</p>
	</ion-slide>
	<ion-slide class="step-two">
		<ion-img src="/assets/slides/step1.svg"></ion-img>
		<h1>Second Slide</h1>
		<p>Text</p>

		<ion-button (click)="finish()">Finish Tutorial</ion-button>
	</ion-slide>
</ion-slides>