ion-slide {
	height: 100vh;
	flex-direction:column;
	text-align: justify;
}

ion-img {
	max-width: 50vw;
	max-height: 50vh;
	overflow: hidden;
}

p {
	padding: 1em;
}

.step-one {
	background: var(--ion-colorprimary);
	color: var(--ion-color-primary-contrast);
}

.step-two {
	background: var(--ion-color-success);
	color: var(--ion-color-succes-contrast);
}