<ion-header>
  <ion-toolbar>
    <ion-title>todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-segment (ionChange)="updateFilter($event.detail.value)">
		<ion-segment-button value="" checked>
			All
		</ion-segment-button>
		<ion-segment-button value="complete">
			Complete
		</ion-segment-button>
		<ion-segment-button value="pending">
			Pending
		</ion-segment-button>
	</ion-segment>

	<ion-list>
		<ion-item *ngFor="let todo of todos | async; trackBy: trackById">
			<ion-label>.
				<span [class.complete]="todo.status === 'complete' "> {{ todo.content }} </span>
			</ion-label>
			<ion-checkbox (click)="toggelStatus(todo)" [checked]="todo.status === 'complete'" >Checkbox Label</ion-checkbox>

			<ion-button [href]=" 'todo/' + todo.id">
				<ion-icon name="eye"></ion-icon>
			</ion-button>

			<ion-button (click)="presentTodoForm(todo)">
				<ion-icon name="create"></ion-icon>
			</ion-button>
		</ion-item>
	</ion-list>

</ion-content>
